body {
    padding-top: 70px;
    line-height: 1.2em;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #E1EDF7;

}
.navbar.container-fluid {
    padding: 0 20px;
}
#footer {
    border-top: 1px solid #f0f0f0;
    padding: 20px 32px;
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.5em;
}
#footer a, #footer a:visited {
    color: #333;
}
#canvas {
    margin-bottom: 2em;
}
h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
}
.jumbotron {
    background-color: #F6F6F6;
}
#sidebar {
    width: 263px;
}
.sidebar-gutter, .bottom-gutter {
    border-top: 1px solid #f0f0f0;
    margin-top: 1.5em;
    padding-top: 1.5em;
}
.item-filters {
    margin-bottom: 1em;
}
.glyphicon {
    padding-right: 16px;
}
#viewport {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
#canvas {
    width: 100%;
    border: 1px solid #ddd;
    background-image: url('../img/light-grid.jpg');
}
.user-books-tray {
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    margin-bottom: 1em;
}
.book-block {
    border-radius: 4px;
    display: block;
    float: left;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ddd;
    background: #fff url('../img/folder.png') no-repeat center;
    background-size: 100%;
    width: 165px;
    height: 164px;
    margin-right: 4px;
    margin-bottom: 4px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow:hidden;
    font-size: 16px;
    color: #333;
    padding: 20px;
    padding-top: 54px;
    line-height: 1.25em;
}
#footer a {
    text-decoration: underline;
}
.book-design-count {
    font-size: 14px;
    margin-top: 5px;
    color: #999;
}
.items {
    overflow: hidden;
}
.book-block:hover {
    color: #000;
    text-decoration: none;
    background-color: white;
    border: 1px solid #999;
}
a.book-block-inner {
    color: #555555;
    font-weight: bold;
}
a.book-block-inner:hover {
    text-decoration: none;
}
.book-block-hover {
    border: 1px solid #00e;
    box-shadow: 0 0 10px #428BCA;
}

.btn-wide {
    padding-left: 40px;
    padding-right: 40px;
}
input[type=submit] {
    margin-top: 0.5em;
}

label:after {
    content: ":";
}

.radio label:after {
    content: "";
}

.layer-controls {
    margin-bottom: 2em;
}
.layer-controls label {
    display: none;
}
.param-control {
    overflow: hidden;
    width: 300px;
}
#add-layer-button {
    display: block;
    width: 100%;
    font-weight: bold;
    margin-bottom: 1em;
}

 .design-block {
     border-radius: 4px;
     display: inline-block;
     text-decoration: none;
     border: 1px solid #ddd;
     background-color: #fff;
     width: 164px;
     height: 164px;
 }
 a.design-block:hover {
     background-color: white;
     border: 1px solid #999;
 }
 a.design-block-drag:active, a.design-block-drag:hover {
     box-shadow:4px 4px 3px #333;
 }
#layers {
    padding: 4px;
    overflow: hidden;
}
.navbar-default .navbar-brand {
    font-size: 22px;
    color: #5e5e5e;
}
.navbar-nav > li > a {
    font-size: 16px;
}
.btn-group {
    margin-right: 1em;
    margin-bottom: 1em;
}
#layers .layer {
    float: left;
    width: 32px;
    height: 32px;
    background-color: #eee;
    border: 1px solid #aaa;
    margin: 0 1px 1px 0;
    padding: 0;
    cursor: pointer;
}
#layers .layer.selected {
    background-color: #fff;
    border: 1px solid #999;
}
#layers #add-layer {
    font-size: 1.25em;
    font-weight: bold;
    color: #999;
    background-color: #fafafa;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
}
#design-title {
    text-align: center;
    font-size: 1.5em;
    height: 2em;
    color: #999;
}
#controls {
    padding: 4px;
}
